body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
}


.theme-box {
    border: solid 3px #ddd;
}


#resources_container { margin-left 0px !important; padding-left: 0px !important; }
#resources { margin-left -30px !important; padding-left: 0px !important; }

#editor {
    position: relative;
    height: 200px;
    width:100%;
    margin-top: 50px;
    font-size: 1.1em;
}

.label-default { font-size: 1.0em; line-height: 1.2em;}

#schemas {
    xmargin-bottom: 20px;
    position: relative;
    width:100%;
}
