body {
  xmin-height: 2000px;
  background-color: #fff;
  font-family: arial;
  -webkit-font-smoothing: antialiased;
}

#info {
}

.info-block {
    background-color: #eee;
    min-height: 60px;
    border-bottom: 2px solid #ccc;
    margin: 0;
}

.info-block .query {
    padding-left: 1.6em;
    font-size: 1.2em;
}

h1 { font-size: 42px; }
p { font-size: 16px;}
p a{ font-weight: bold;}

.table-results-container {
    margin-top: 20px;
    width: 100%;

    height: 600px !important;
    overflow-y: scroll;
}

.table-results {
}
table {
    xtable-layout: fixed;
}

.breadcrumb { background-color: #fff;}

.btn-default { background-color: #0B6831;
border-bottom-color: rgb(255, 255, 255);
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-style: none;
border-bottom-width: 0px;
border-left-color: rgb(255, 255, 255);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(255, 255, 255);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(255, 255, 255);
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-top-style: none;
border-top-width: 0px;
box-shadow: rgb(0, 53, 24) 0px 2px 0px 0px;
}

a { color: #005ea5;}
a:hover { color: #005ea5;}

.header_section a { color: #fff;  text-decoration: underline;}
.header_section a:hover { color: #fff;}

.navbar-brand { height: 73px; padding-top: 28px;}

.centered { text-align: center;}

.breadcrumb { margin-top: 20px;}
.tab-pane {
    padding-left: 10px;
    padding-right: 10px;
}

.tabcontainer {
    border-right: solid 2px red;
}

.navbar-nav, .navbar-nav li, .navbar-nav li a {
    height: 73px;
    padding-top:9px;
}
.navbar-nav li a:hover { color: #fff;}
.navbar-static-top {
  margin-bottom: 0px;
  background-color: #0B0C0C;
  height: 73px;
  vertical-align: center;
}

.header_section {
    background-color: #8DC55E;
    color: #fff;
    height: 180px;
}


.theme-box {
    border: solid 3px #ddd;
}

.input_bottom {
    border: none;
    border-bottom: solid 1px #ddd;
    color: #666;
}
.input_bottom:focus {outline: none; }

#editor {
    position: relative;
    height: 200px;
    width:100%;
    margin-top: 50px;
    font-size: 1.1em;
}

.label-default { font-size: 1.0em; line-height: 1.2em;}

#schemas {
    xmargin-bottom: 20px;
    position: relative;
    width:100%;
}



.service {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}
h4 {
    font-weight: bold;
}
.api_desc {
    margin-top: 20px;
}
.url_label {
    font-size: 1.2em;
    color: #333;
}
.toolow {
    margin-top: -10px;
}
.output {
    margin-top: 8px;
    border: solid 1px #aaa;
    background-color: #eee;
    height: 200px;
    width: 100%;
    overflow-y: scroll;
    color: #333;
}

.table-results-container ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 2px;
}
.table-results-container ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.glyphicon-refresh.spinning {
  transform-origin: 48% 50%;
}

.about .special {
    border: solid 1px #ddd;
    padding: 1px;
    background-color: #eee;
    border-radius: 1px;
}

.about .special-lg {
    border: solid 2px #ddd;
    padding: 8px;
    background-color: #eee;
    border-radius: 4px;
    height: 200px;
    overflow-y: scroll;
}

.beta {
    background-color: #f47738;
    color: #fff;
    font-size: 1.1em;
    font-weight: 600;
    display: inline;
    padding: 6px;
}

h3 { line-height: 18px;}
.dataset {
    line-height: 18px;
    font-size: 14px;
    position: relative;
    margin-top: -10;
    padding-top: 0px;
    vertical-align: top;
}

/* Tabs */

.nav-tabs {
    border: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus
{ border: transparent; color: #333;}

.nav-tabs>li>a, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus
{ background: none; border: none; color: #aaa;}

.dgu-tab  {
    border: none !important;
    background-color: none;
    font-size: 19px;
    height: 49px;
    line-height: 27px;
    padding-top: 6px;
    color: #ddd;
}

.dgu-tab.active {
    border: none !important;
    background-color: none !important;
    font-size: 25px;
    height: 50px;
    line-height: 35px;
    padding-top: 0;
}

