body {
  min-height: 2000px;
  background-color: #eee;
}

.tab-pane {
    padding-left: 10px;
    padding-right: 10px;
}

.tabcontainer {
    border-right: solid 2px red;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.jumbotron {
    background-color: white;
}

.nav-tabs {
    border-bottom: solid 4px #ddd;
}
.nav-tabs li.active a, .nav-tabs li.active a:hover {
    background-color: #2D3E4F;
    color:white;
}
.nav-tabs li a, .nav-tabs li a:hover {
    background-color: #999;
    color: white;
}

.theme-box {
    border: solid 3px #ddd;
}

.input_bottom {
    border: none;
    border-bottom: solid 1px #ddd;
    color: #666;
}
.input_bottom:focus {outline: none; }

#editor {
    position: relative;
    height: 200px;
    width:100%;
    margin-top: 50px;
    font-size: 1.1em;
}

.label-default { font-size: 1.0em; line-height: 1.2em;}

#schemas {
    xmargin-bottom: 20px;
    position: relative;
    width:100%;
}



.service {
    background-color: white;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 4px;
}
h4 {
    font-weight: bold;
}
.api_desc {
    margin-top: 20px;
}
.url_label {
    font-size: 1.2em;
    color: #333;
}
.toolow {
    margin-top: -10px;
}
.output {
    margin-top: 8px;
    border: solid 1px #aaa;
    background-color: #eee;
    height: 200px;
    width: 100%;
    overflow-y: scroll;
    color: #333;
}