<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Data.gov.uk - API Server</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/bootstrap.min.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/style.css") %>">

    <link rel="stylesheet" media="screen" href="<%= static_path(@conn, "/css/screen.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">


    <script src="<%= static_path(@conn, "/js/jquery-1.11.3.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/bootstrap.min.js") %>"></script>

    <script src="<%= static_path(@conn, "/js/jquery.slideto.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/jquery.wiggle.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/jquery.ba-bbq.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/handlebars-2.0.0.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/underscore-min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/backbone-min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/swagger-ui.js") %>"></script>

    <script src="<%= static_path(@conn, "/js/highlight.7.3.pack.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/marked.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/swagger-oauth.js") %>"></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/snippets/sql.js"></script>

  </head>

  <body  class="swagger-section">
<nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">DGU API</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>



    <div class="container" role="main">
      <!--
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      -->

      <%= @inner %>

    </div>

  </body>
</html>
