<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Data.gov.uk - API Server</title>
    <!--
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    -->

    <link rel="stylesheet" href="<%= static_path(@conn, "/data/api/css/bootstrap.min.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/data/api/css/bootstrap-select.min.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/data/api/css/style.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/data/api/css/app.css") %>">

    <link rel="stylesheet" href="<%= static_path(@conn, "/data/api/css/ol.css") %>">

    <script src="<%= static_path(@conn, "/data/api/js/jquery-1.11.3.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/data/api/js/app.js") %>"></script>
    <script src="<%= static_path(@conn, "/data/api/js//bootstrap.min.js") %>"></script>

    <script src="<%= static_path(@conn, "/data/api/js/bootstrap-select.min.js") %>"></script>

    <script src="<%= static_path(@conn, "/data/api/js/underscore-min.js") %>"></script>

    <script src="<%= static_path(@conn, "/data/api/js/ace.js") %>"></script>
    <script src="<%= static_path(@conn, "/data/api/js/sql.js") %>"></script>
    <script src="<%= static_path(@conn, "/data/api/js/theme-monokai.js") %>"></script>

    <script src="<%= static_path(@conn, "/data/api/js/ol.min.js") %>"></script>

  </head>

  <body>
<nav class="navbar navbar-inverse navbar-static-top">
          <div class="pull-right" style="padding-top: 26px; margin-right: 20px;">
            <div class="beta">ALPHA</div>
          </div>

      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" style="padding: 16px;">
              <img src="<%= static_path(@conn, "/data/api/images/dgu-header-white.png") %>" height="39px">
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse pull-right">
          <ul class="nav navbar-nav">
            <li><a style='font-size: 13px;' href="http://data.gov.uk">Back to data.gov.uk</a></li>
            <li><a href="/data/api">API Home</a></li>
            <li><a href="/data/api/documentation">Documentation</a></li>
            <li><a href="/data/api/about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container-fluid" role="main">
      <!--
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      -->

      <%= @inner %>

    </div>

  </body>
</html>
