
<div class="container">

<ol class="breadcrumb pull-left">
  <li><a href="/">Home</a></li>
  <li><a href="/<%= @theme %>"><%= capitalize(@theme) %></a></li>
  <li class="active"><%= prettify(@service_name) %></li>
</ol>
<h2 class='pull-right'><%= capitalize(@theme)%></h2>
<div class="clearfix"></div>







</div>